<div class="m">
    <div class="m__content">
        <button onclick="deletemLandMark()" class="m__cerrar"><i class="fas fa-times" aria-hidden="true"></i></button>
        <div class="m-login">
            <form class="m-login__content" action="/admin/landMarks" method="POST">
                <p class="m-login--p">Registrar Marca</p>
                <label class="m-login__c-fist m-login__c mb-6">
                    <input type="text" class="m-login__c--input no-icon-input" id="name" placeholder="Nombre" name="nombre" required="">
                </label>
                
                <button type="submit" class="m-login--send">Guardar</button>
            </form>
        </div>
    </div>
</div>
