<div class="m">
    <div class="m__content">
        <button onclick="deletemEditcategoria()" class="m__cerrar"><i class="fas fa-times" aria-hidden="true"></i></button>
        <div class="m-login">
            <form class="m-login__content" name="edit" action="" method="POST">
                <p class="m-login--p">Editar categoría</p>
                <label class="m-login__c-fist">
                    <input type="text" class="m-login__c--input no-icon-input" name="nombre" id="name" placeholder="Nombre" name="email" required="">
                </label>
                <label class="m-login__c-last textarea-modal">
                    <textarea  class="m-login__c--input no-icon-input" id="descripcion" name="descripcion" placeholder="Description" id="description"></textarea>
                </label>
                <button type="submit" class="m-login--send">Editar</button>
            </form>
        </div>
    </div>
</div>
