<div class="m">
    <div class="m__content">
        <button onclick="deletemEditLandMark()" class="m__cerrar"><i class="fas fa-times" aria-hidden="true"></i></button>
        <div class="m-login">
            <form class="m-login__content" name="edit" action="" method="POST">
                <p class="m-login--p">Editar Marca</p>
                <label class="m-login__c-fist m-login__c mb-6">
                    <input type="text" class="m-login__c--input no-icon-input" name="nombre" id="name" placeholder="Nombre" name="email" required="">
                </label>
               
                <button type="submit" class="m-login--send">Editar</button>
            </form>
        </div>
    </div>
</div>
