<div class="m">
    <div class="m__content">
        <button onclick="deleterecoverpassword()" class="m__cerrar"><i class="fas fa-times"></i></button>
        <div class="m-login">
            <form class="m-login__content" action="/recover-pass" method="POST">
                <p class="m-login--p">Recuperar contraseña</p>
                <div class="input-recover-password mb-4 rounded">
                    <div class="m-login__c__content">
                        <i class="fas fa-user"></i>
                        <input type="text" class="m-login__c--input" id="" placeholder="Correo eletrónico" name="email" required>
                    </div>
                </div>
                <button type="submit" class="m-login--send">Solicitar contraseña</button>
            </form>
        </div>
    </div>
</div>