<div class="m" id="sweet-alert">
    <div class="m__content" id="modal-sweet">
        <button onclick="deletemregister()" class="m__cerrar"><i class="fas fa-times"></i></button>
        <div class="m-login">
            <form class="m-login__content" action="/login/signup" method="POST">
                <img class="m-login--ctiam" src="">
                <p class="m-login--p">Crear cuenta</p>
                <div class="m-login__c-fist">
                    <div class="m-login__c__content">
                        <input type="text" class="m-login__c--input" id="" placeholder="Correo eletrónico" name="email" required>
                    </div>
                </div>
                <div class="m-login__c-medio">
                    <div class="m-login__c__content">
                        <input type="text" class="m-login__c--input" id="" placeholder="Nombres" name="firstName" required>
                    </div>
                </div>
                <div class="m-login__c-medio">
                    <div class="m-login__c__content">
                        <input type="text" class="m-login__c--input" id="" placeholder="Apellidos" name="lastName" required>
                    </div>
                </div>
                <div class="m-login__c-medio">
                    <div class="m-login__c__content">
                        <input type="text" class="m-login__c--input" id="" placeholder="Cédula" name="dni" required>
                    </div>
                </div>
                <div class="m-login__c-medio">
                    <div class="m-login__c__content">
                        <input type="text" class="m-login__c--input" id="" placeholder="Télefono celular" name="numberPhone" required>
                    </div>
                </div>
                <div class="m-login__c-medio">
                    <div class="m-login__c__content">
                        <input type="password" class="m-login__c--input" id="" placeholder="Contraseña" name="password" required>
                    </div>
                </div>
                <div class="m-login__c-last">
                    <div class="m-login__c__content">
                        <input type="password" class="m-login__c--input" id="" placeholder="Repetir Contraseña"
                            required>
                    </div>
                </div>
                <button type="submit" class="m-login--send">Registrar</button>
                <div class="m-login__options">
                    <button onclick="loginModal()" class="m-login__options--a">¿Ya tienes una cuenta?</button>
                </div>
            </form>
        </div>
    </div>
</div>