{{> header_principal}}
<div id="modal"></div>
<section class="c-profile">
    <article class="container mx-auto sm:flex">
        {{> seller/options_seller }}
        <div class="c-profile__info mx-auto w-full">
            <div class="c-profile__info__content">
                <form class="c-user-shopping" action="">
                    <h2>Mis ventas</h2>
                    <div class="c-user-shopping__div">
                        <div class="c-user-shopping__box">
                            <h3>Fecha de compra: 25 de Septiembre</h3>
                            <div class="c-user-shopping__info">
                                <img class="c-user-shopping__img" src="https://images.unsplash.com/photo-1606768045110-fb1ff9a814a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
                                <div class="c-user-shopping__text">
                                    <p class="c-user-shopping__text--name">Bolso Mochila Morral Antirobo Con Puerto Usb (Mochila antirrobo inteligente.)</p>
                                    <p class="c-user-shopping__text--description">Viaja tranquilo en el metro, tren o colectivo.</p>
                                    <p class="c-user-shopping__text--price">$ 65.000 x 1 unidad</p>
                                    <p class="font-medium pt-4">Comprador: Frank Jean Pierre</p>
                                    <p class="font-bold">Contacto: 3176463387</p>
                                </div>
                            </div>
                            <div class="c-user-shopping__info">
                                <img class="c-user-shopping__img" src="https://images.unsplash.com/photo-1606768045110-fb1ff9a814a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
                                <div class="c-user-shopping__text">
                                    <p class="c-user-shopping__text--name">Bolso Mochila Morral Antirobo Con Puerto Usb (Mochila antirrobo inteligente.)</p>
                                    <p class="c-user-shopping__text--description">Viaja tranquilo en el metro, tren o colectivo.</p>
                                    <p class="c-user-shopping__text--price">$ 65.000 x 1 unidad</p>
                                    <p class="font-medium pt-4">Comprador: Frank Jean Pierre</p>
                                    <p class="font-bold">Contacto: 3176463387</p>
                                </div>
                            </div>
                            <div class="c-user-shopping__info">
                                <img class="c-user-shopping__img" src="https://images.unsplash.com/photo-1606768045110-fb1ff9a814a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
                                <div class="c-user-shopping__text">
                                    <p class="c-user-shopping__text--name">Bolso Mochila Morral Antirobo Con Puerto Usb (Mochila antirrobo inteligente.)</p>
                                    <p class="c-user-shopping__text--description">Viaja tranquilo en el metro, tren o colectivo.</p>
                                    <p class="c-user-shopping__text--price">$ 65.000 x 1 unidad</p>
                                    <p class="font-medium pt-4">Comprador: Frank Jean Pierre</p>
                                    <p class="font-bold">Contacto: 3176463387</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-user-shopping__div">
                        <div class="c-user-shopping__box">
                            <h3>Fecha de compra: 25 de Septiembre</h3>
                            <div class="c-user-shopping__info">
                                <img class="c-user-shopping__img" src="https://images.unsplash.com/photo-1606768045110-fb1ff9a814a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
                                <div class="c-user-shopping__text">
                                    <p class="c-user-shopping__text--name">Bolso Mochila Morral Antirobo Con Puerto Usb (Mochila antirrobo inteligente.)</p>
                                    <p class="c-user-shopping__text--description">Viaja tranquilo en el metro, tren o colectivo.</p>
                                    <p class="c-user-shopping__text--price">$ 65.000 x 1 unidad</p>
                                    <p class="font-medium pt-4">Comprador: Frank Jean Pierre</p>
                                    <p class="font-bold">Contacto: 3176463387</p>
                                </div>
                            </div>
                            <div class="c-user-shopping__info">
                                <img class="c-user-shopping__img" src="https://images.unsplash.com/photo-1606768045110-fb1ff9a814a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80">
                                <div class="c-user-shopping__text">
                                    <p class="c-user-shopping__text--name">Bolso Mochila Morral Antirobo Con Puerto Usb (Mochila antirrobo inteligente.)</p>
                                    <p class="c-user-shopping__text--description">Viaja tranquilo en el metro, tren o colectivo.</p>
                                    <p class="c-user-shopping__text--price">$ 65.000 x 1 unidad</p>
                                    <p class="font-medium pt-4">Comprador: Frank Jean Pierre</p>
                                    <p class="font-bold">Contacto: 3176463387</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>

<script src="../js/dragImage.js"></script>
<script src="../js/uploadImage.js"></script>
<script src="../perfil_new.hbs"></script>
<script src="../list-product.hbs"></script>
<script src="../contact.hbs"></script>

{{> footer }}