{{> header_principal}}
<div id="modal"></div>
<section class="c-profile">
    <article class="container mx-auto sm:flex justify-between">
        {{> seller/options_seller }}
        <div class="w-11/12 mx-auto sm:w-4/5 px-0 md:px-20 pb-14 md:pb-0">
            <div class=" w-full py-14 mx-auto">
                <div class="w-full">
                    <h2 class="text-2xl font-medium pb-10">Mis Estadisticas</h2>
                    <div class="flex items-center justify-between">
                        <select class="w-60 h-10 border-2 px-2 border-black rounded mr-4" id="estadisticas" onclick="cambio()">
                            {{#each products}}
                            <option value="{{this.dataValues.id}}">{{this.dataValues.titulo}}</option>
                            {{/each}}
                        </select>
                        <a class="px-4 h-10 flex items-center justify-center rounded text-white bg-pink-500 hover:bg-pink-800 duration-300 font-medium" href="">
                            Descargar reporte
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-4">
                <div class="rounded p-6 border-2 shadow-lg flex justify-center items-center overflow-hidden" id="columnchart_values"></div>
                <div class="rounded p-6 border-2 shadow-lg flex justify-center items-center overflow-hidden bg-pink-100">
                    <i class="text-7xl text-pink-500 fas fa-ban"></i>
                </div>
            </div>
        </div>
    </article>
</section>
<script>
    cambio();
    function cambio() {
        fetch(`${location.origin}/getVisitas/${document.getElementById("estadisticas").value}`)
            .then(res => res.json())
            .then(lista => {
                array = [["Dia", "visitas", { role: "style" }]]
                lista.lista.visitas.map(item => {
                    array.push([item.fecha, item.contador, "#C50084"]);
                });
                grafico(array);
            });
    }
    function grafico(array) {
        google.charts.load("current", { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(array);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                title: `Estadisticas del numero de visitas de un producto`,
                width: 450,
                height: 300,
                bar: { groupWidth: "95%" },
                legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }
    }
</script>
{{> footer }}