{{> header_principal}}

<section class="c-list">
    <article class="c-list__content">
        <div class="c-list__t">
            <div class="c-list__t-head">
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>#</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>Nombre</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>Número de <br> documento</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>Correo electrónico</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>Descripción</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>Acciones</b></p>
                </div>
            </div>
            <div class="c-list__t-body">
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>1</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Frank Jean Pierre Gómez Salazar</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">1151593</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">frankjeanpierregs@ufps.edu.co</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Arquitecto de software y analista documentador</p>
                </div>
                <div class="c-list__column">
                    <div class="c-list__actions">
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye-slash"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-edit"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
            <div class="c-list__t-body">
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>2</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Frank Jean Pierre Gómez Salazar</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">1151593</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">frankjeanpierregs@ufps.edu.co</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Arquitecto de software y analista documentador</p>
                </div>
                <div class="c-list__column">
                    <div class="c-list__actions">
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye-slash"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-edit"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
            <div class="c-list__t-body">
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>3</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Frank Jean Pierre Gómez Salazar</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">1151593</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">frankjeanpierregs@ufps.edu.co</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Arquitecto de software y analista documentador</p>
                </div>
                <div class="c-list__column">
                    <div class="c-list__actions">
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye-slash"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-edit"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
            <div class="c-list__t-body">
                <div class="c-list__column">
                    <p class="c-list__column--p"><b>3</b></p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Frank Jean Pierre Gómez Salazar</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">1151593</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">frankjeanpierregs@ufps.edu.co</p>
                </div>
                <div class="c-list__column">
                    <p class="c-list__column--p">Arquitecto de software y analista documentador</p>
                </div>
                <div class="c-list__column">
                    <div class="c-list__actions">
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-eye-slash"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-edit"></i></a>
                        <a class="c-list__actions--a" href=""><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

{{> footer}}