{{> header_principal}}

<section class="w-full py-10">
    <article class="p-8 w-9/12 mx-auto rounded border-4">
        <h1 class="font-bold text-2xl mb-8">Notificaciones</h1>
        <div class="w-full bg-gray-100 rounded p-4"></div>
    </article>
</section>

{{> footer}}