{{> header_principal}}

<section class="c-profile-seller">
    <article class="c-profile-seller__content">
        <figure class="c-profile-seller__fig">
            <img class="c-profile-seller__fig--img" src="images/photo-store/1.jpg">
        </figure>
        <div class="c-profile-seller__form-actions">
            <div class="c-profile-seller__form-actions--content">
                <p class="c-profile-seller__form-actions--title">POSTRES Y PONQUES DON JACOBO</p>
                <div class="c-profile-seller__form">
                    <div class="c-user-questions">
                        <div class="c-user-questions__content">
                            <div class="c-user-questions__question">
                                <div class="c-user-questions__title">
                                    <p class="c-user-questions__title--p">Pregunta#1</p>
                                    <i class="fas fa-chevron-circle-down"></i>
                                </div>
                                <div class="c-user-questions__info">
                                    <img class="c-user-questions__info--img" src="images/categorias/postres2.jpg">
                                    <div class="c-user-questions__text">
                                        <p class="c-user-questions__text--marca">GENOVESAS</p>
                                        <p class="c-user-questions__text--name">Genovesa Clásica Contemporánea</p>
                                        <p class="c-user-questions__text--price">$45.0000</p>
                                        <p class="c-user-questions__text--description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quae dicta fuga ducimus, culpa vel itaque tenetur vero voluptate pariatur placeat quos in blanditiis quo? Earum maiores cumque at eos?
                                        </p>
                                    </div>
                                </div>
                                <div class="c-user-questions__answer">
                                    <div class="c-user-questions__answer-content">
                                        <div class="c-user-questions__info-usuario">
                                            <img class="c-user-questions__info-usuario--imgs" src="images/perfil/1.jpg">
                                            <p class="c-user-questions__info-usuario--p">Nombre usuario</p>
                                        </div>
                                        <p class="c-user-questions--description">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi adipisci itaque fuga cum, odit dicta quam qui provident quas. Labore ad nobis sapiente blanditiis alias saepe error accusamus molestiae odio.
                                        </p>
                                        <a class="c-user-questions--btn" href="">Responder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-user-questions__content">
                            <div class="c-user-questions__question">
                                <div class="c-user-questions__title">
                                    <p class="c-user-questions__title--p">Pregunta#2</p>
                                    <i class="fas fa-chevron-circle-down"></i>
                                </div>
                                <div class="c-user-questions__info">
                                    <img class="c-user-questions__info--img" src="images/categorias/postres2.jpg">
                                    <div class="c-user-questions__text">
                                        <p class="c-user-questions__text--marca">GENOVESAS</p>
                                        <p class="c-user-questions__text--name">Genovesa Clásica Contemporánea</p>
                                        <p class="c-user-questions__text--price">$45.0000</p>
                                        <p class="c-user-questions__text--description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quae dicta fuga ducimus, culpa vel itaque tenetur vero voluptate pariatur placeat quos in blanditiis quo? Earum maiores cumque at eos?
                                        </p>
                                    </div>
                                </div>
                                <div class="c-user-questions__answer">
                                    <div class="c-user-questions__answer-content">
                                        <div class="c-user-questions__info-usuario">
                                            <img class="c-user-questions__info-usuario--imgs" src="images/perfil/1.jpg">
                                            <p class="c-user-questions__info-usuario--p">Nombre usuario</p>
                                        </div>
                                        <p class="c-user-questions--description">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi adipisci itaque fuga cum, odit dicta quam qui provident quas. Labore ad nobis sapiente blanditiis alias saepe error accusamus molestiae odio.
                                        </p>
                                        <a class="c-user-questions--btn" href="">Responder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-user-questions__content">
                            <div class="c-user-questions__question">
                                <div class="c-user-questions__title">
                                    <p class="c-user-questions__title--p">Pregunta#3</p>
                                    <i class="fas fa-chevron-circle-down"></i>
                                </div>
                                <div class="c-user-questions__info">
                                    <img class="c-user-questions__info--img" src="images/categorias/postres2.jpg">
                                    <div class="c-user-questions__text">
                                        <p class="c-user-questions__text--marca">GENOVESAS</p>
                                        <p class="c-user-questions__text--name">Genovesa Clásica Contemporánea</p>
                                        <p class="c-user-questions__text--price">$45.0000</p>
                                        <p class="c-user-questions__text--description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quae dicta fuga ducimus, culpa vel itaque tenetur vero voluptate pariatur placeat quos in blanditiis quo? Earum maiores cumque at eos?
                                        </p>
                                    </div>
                                </div>
                                <div class="c-user-questions__answer">
                                    <div class="c-user-questions__answer-content">
                                        <div class="c-user-questions__info-usuario">
                                            <img class="c-user-questions__info-usuario--imgs" src="images/perfil/1.jpg">
                                            <p class="c-user-questions__info-usuario--p">Nombre usuario</p>
                                        </div>
                                        <p class="c-user-questions--description">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi adipisci itaque fuga cum, odit dicta quam qui provident quas. Labore ad nobis sapiente blanditiis alias saepe error accusamus molestiae odio.
                                        </p>
                                        <a class="c-user-questions--btn" href="">Responder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-user-questions__content">
                            <div class="c-user-questions__question">
                                <div class="c-user-questions__title">
                                    <p class="c-user-questions__title--p">Pregunta#4</p>
                                    <i class="fas fa-chevron-circle-down"></i>
                                </div>
                                <div class="c-user-questions__info">
                                    <img class="c-user-questions__info--img" src="images/categorias/postres2.jpg">
                                    <div class="c-user-questions__text">
                                        <p class="c-user-questions__text--marca">GENOVESAS</p>
                                        <p class="c-user-questions__text--name">Genovesa Clásica Contemporánea</p>
                                        <p class="c-user-questions__text--price">$45.0000</p>
                                        <p class="c-user-questions__text--description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quae dicta fuga ducimus, culpa vel itaque tenetur vero voluptate pariatur placeat quos in blanditiis quo? Earum maiores cumque at eos?
                                        </p>
                                    </div>
                                </div>
                                <div class="c-user-questions__answer">
                                    <div class="c-user-questions__answer-content">
                                        <div class="c-user-questions__info-usuario">
                                            <img class="c-user-questions__info-usuario--imgs" src="images/perfil/1.jpg">
                                            <p class="c-user-questions__info-usuario--p">Nombre usuario</p>
                                        </div>
                                        <p class="c-user-questions--description">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi adipisci itaque fuga cum, odit dicta quam qui provident quas. Labore ad nobis sapiente blanditiis alias saepe error accusamus molestiae odio.
                                        </p>
                                        <a class="c-user-questions--btn" href="">Responder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-profile-seller__actions">
                        <div class="c-profile-seller__buttons">
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-box"></i>
                                </a>
                            </div>
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-chart-line"></i>
                                </a>
                            </div>
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                        <ul class="c-profile-seller__options">
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="far fa-edit"></i>
                                    Editar perfil
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-store"></i>
                                    Compras
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-money-bill-wave"></i>
                                    Devoluciones
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-box-open"></i>
                                    Cambios
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-star"></i>
                                    Favoritos
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-shopping-cart"></i>
                                    Carrito
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

<script src="js/show-hide-questions.js"></script>
{{> footer}}