{{> header_principal}}

<section class="c-profile-seller">
    <article class="c-profile-seller__content">
        <figure class="c-profile-seller__fig">
            <img class="c-profile-seller__fig--img" src="images/photo-store/1.jpg">
        </figure>
        <div class="c-profile-seller__form-actions">
            <div class="c-profile-seller__form-actions--content">
                <p class="c-profile-seller__form-actions--title">POSTRES Y PONQUES DON JACOBO</p>
                <div class="c-profile-seller__form">
                    <div class="c-">

                    </div>
                    <div class="c-profile-seller__actions">
                        <div class="c-profile-seller__buttons">
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-box"></i>
                                </a>
                            </div>
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-chart-line"></i>
                                </a>
                            </div>
                            <div class="c-profile-seller__buttons--btn">
                                <a class="c-profile-seller__buttons--a" href="">
                                    <i class="fas fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                        <ul class="c-profile-seller__options">
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="far fa-edit"></i>
                                    Editar perfil
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-store"></i>
                                    Compras
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-money-bill-wave"></i>
                                    Devoluciones
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-box-open"></i>
                                    Cambios
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-star"></i>
                                    Favoritos
                                </a>
                            </li>
                            <li class="c-profile-seller__options--li">
                                <a class="c-profile-seller__options--a" href="">
                                    <i class="fas fa-shopping-cart"></i>
                                    Carrito
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<script src="js/siguiente-paso.js"></script>
{{> footer}}