<footer class="bg-black" style="background-color: #101010">
    <div class="f-copyright container__content pt-10">
        <p class="f-copyright--p text-white">© 2020 Tienda CTIAM. Esta tienda virtual está protegido y es propiedad de Mujeres
            CTIAM</p>
        <img class="f-copyright--img" src="{{URL}}/images/logowhite.png">
    </div>
    <div class="f-asteroide">
        <p class="f-asteroide--p">Desarrollador por</p>
        <a class="f-asteroide--a" href="">Ing sistemas UFPS</a>
    </div>
</footer>
</body>
</html>