<footer>
    <div class="c-container">
        <div class="f__content container__content">
            <div class="f__category-help">
                <div class="f__category">
                    <p class="f--title">Categorias</p>
                    <ul class="f__ul">
                        <li class="f__li">
                            <a class="f__li--a" href="">Pasteles</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Plantas</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Maquillaje</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Zapatos</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Salud y belleza</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Ropa de bebes</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Ropa para mujeres</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Maletas y bolsos</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Terapias</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Carteras</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Masetas</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Manualidades</a>
                        </li>
                    </ul>
                </div>
                <div class="f__help">
                    <p class="f--title">Ayuda</p>
                    <ul class="f__ul">
                        <li class="f__li">
                            <a class="f__li--a" href="">Preguntas frecuentes</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">¿Comó comprar?</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Actualiza tus datos</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Promociones vigentes</a>
                        </li>
                        <li class="f__li">
                            <a class="f__li--a" href="">Contacto</a>
                        </li>
                    </ul>
                    <div class="f__paying">
                        <p class="f--title">Medios de pago</p>
                        <div class="f__paying__icos">
                            <img class="f__paying__icos--img" src="../images/medios-pagos/nequi.png">
                            <img class="f__paying__icos--img" src="../images/medios-pagos/paypal.png">
                            <img class="f__paying__icos--img" src="../images/medios-pagos/mastercard.png">
                            <img class="f__paying__icos--img" src="../images/medios-pagos/visa.png">
                            <img class="f__paying__icos--img" src="../images/medios-pagos/pse.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="f__subscribe">
                <div class="f__subscribe__content">
                    <p class="f--title">Únete ahora</p>
                    <div class="f__subscribe__input">
                        <input class="f__subscribe--input" placeholder="ejemplo@ctiam.com" type="text" required>
                    </div>
                    <div class="c-promo-index__btn">
                        <a class="c-promo-index__btn--a" href="">Enviar</a>
                    </div>
                    <p class="f__subscribe--p">Al suscribirte aceptas nuestas politicas de tratamiento de datos.</p>
                </div>
                <div class="f__subscribe__icos">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="f-copyright container__content">
        <p class="f-copyright--p">© 2020 Tienda CTIAM. Esta tienda virtual está protegido y es propiedad de Mujeres CTIAM</p>
        <img class="f-copyright--img" src="../images/ctiam_black.png">
    </div>
    <div class="f-asteroide">
        <p class="f-asteroide--p">Desarrollador por el team</p>
        <a class="f-asteroide--a" href="">ASTEROIDE</a>
    </div>
    <div class="flex justify-center items-center">
        {{!-- <audio src="../images/navidad.mp3" preload="none" controls autoplay loop></audio> --}}
    </div>
</footer>
<script src="../js/register-modal.js"></script>
<script src="../js/login-modal.js"></script>
<script src="../js/menu.js"></script>
</body>
</html>