{{> header_principal}}
<section class="c-container">
    <article class="c-profile-admin container__content">
        <div class="c-profile-admin__imgs">
            <figure class="c-profile-admin__figure">
                <img class="c-profile-admin__figure--ctiam" src="../images/admin/icos/ctiam.png" alt="imgctiam">
                <img class="c-profile-admin__figure--cupcake" src="../images/admin/icos/cupcake.png" alt="imgcupcake">
                <img class="c-profile-admin__figure--dress" src="../images/admin/icos/dress.png" alt="imgdress">
                <img class="c-profile-admin__figure--hat" src="../images/admin/icos/hat.png" alt="imghat">
                <img class="c-profile-admin__figure--purse" src="../images/admin/icos/purse.png" alt="imgpurse">
                <img class="c-profile-admin__figure--sneakers" src="../images/admin/icos/sneakers.png" alt="imgsneakers">
            </figure>
        </div>
        <div class="c-profile-admin__options">
            <h2>Panel de control</h2>
            <a href="/admin/user-list">Vendedor</a>
            <a href="/admin/categorys">Categorias</a>
            <a href="/admin/revision-products">Productos</a>
            <a href="/admin/frecuent-questions">Preguntas Frecuentes</a>
            <a href="">Banner</a>
            <a href="admin/statistics">Estadisticas</a>
            <a href="/login/logout">Salir</a>
        </div>
    </article>
</section>

{{> footer}}