{{> header_principal }}

<div id="modal"></div>
<section class="c-profile">
    <article class="container mx-auto md:flex sm:justify-between">
        {{> user/options_user }}
        <div class="py-14 mx-auto md:mx-0 w-11/12 md:w-9/12">
            <form action="" method="">
                <h2 class="pb-8">Detalles de producto</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2">
                    
                </div>
            </form>
        </div>
    </article>
</section>
{{> footer }}