{{> header_principal}}
<div id="modal"></div>
<section class="c-profile">
    <article class="c-profile__content">
        {{> user/options_user }}
        <div class="c-profile__info">
            <div class="c-profile__info__content">
                <form class="c-password" action="/user/change-password" method="POST">
                    <h2 class="font-bold text-2xl">Cambiar contraseña</h2>
                    <p class="password--p">Cambia tu contraseña en cualquier momento</p>
                    <div class="password__div">
                        <input type="password" placeholder="Contraseña actual" name="oldPassword"required>
                    </div>
                    <div class="password__div">
                        <input id="newPass" type="password" placeholder="Nueva contraseña" name="newPassword"required>
                    </div>
                    <div class="password__div" id="confirm-pass">
                        <input id="confPass" type="password" placeholder="Confirmar contraseña" required>
                    </div>
                    <button class="password__button" type="submit">Solicitar</button>
                </form>
            </div>
        </div>
    </article>
</section>

<script src="../js/userChangePass.js"></script>
<script src="../perfil_new.hbs"></script>
<script src="../list-product.hbs"></script>
<script src="../contact.hbs"></script>

{{> footer }}