{{> header_principal}}

<div id="modal"></div>
<section class="c-profile">
    <article class="container mx-auto sm:flex sm:justify-between">
        {{> user/options_user }}
        <div class="py-14 mx-auto sm:mx-0 w-11/12 sm:w-9/12">
            <form action="" method="">
                <h2>Mis compras</h2>
                <div class="c-user-shopping__div">
                    <div class="c-user-shopping__box">
                        <h3>Fecha de compra: 25 de Septiembre</h3>
                        <div class="c-user-shopping__info block md:flex">
                            <img class="c-user-shopping__img w-full md:w-1/5" src="images/search/16.jpg">
                            <div class="c-user-shopping__text pt-4">
                                <p class="c-user-shopping__text--name">Bolso Mochila Morral Antirobo Con Puerto Usb (Mochila antirrobo inteligente.)</p>
                                <p class="c-user-shopping__text--description">Viaja tranquilo en el metro, tren o colectivo.</p>
                                <p class="c-user-shopping__text--price">$ 65.000 x 1 unidad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </article>
</section>

<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>

<script src="../js/dragImage.js"></script>
<script src="../js/uploadImage.js"></script>
<script src="../perfil_new.hbs"></script>
<script src="../list-product.hbs"></script>
<script src="../contact.hbs"></script>

{{> footer }}