{{> header_principal }}

<div id="modal"></div>
<section class="c-profile">
    <article class="container mx-auto md:flex sm:justify-between">
        {{> user/options_user }}
        <div class="py-14 mx-auto md:mx-0 w-11/12 md:w-9/12">
            <form action="" method="">
                <h2 class="pb-8">Mis compras</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2">
                    {{#each shoppings}}
                    <div class="border border-gray-500 rounded p-8">
                        <p class="">Pedido: <b>#0018a</b></p>
                        <p class="">Fecha: <b>05/12/2020</b></p>
                        <p class="">Total: <b>598.999</b></p>
                        <p class="font-bold pb-6">4 productos</p>
                        <a class="rounded mt-4 w-100 p-2 bg-pink-300 duration-300 hover:bg-pink-400" href="/user/details-shopping">Ver
                            detalles</a>
                    </div>
                    {{/each}}
                </div>
                <div id="content">
                </div>
            </form>
        </div>
    </article>
</section>

<script src="{{URL}}/js/fetchShoppings.js"></script>

{{> footer }}